@mixin colorTheme($color1, $color2) {
	border-color: $color1;
	color: $color1;
	background-color: $color2;
}

@mixin buttonColorTheme($color1, $color2) {
   @include colorTheme($color1, $color2);
	&:hover {
		background-color: $color1;
		border-color: $color1;
		color:black;
	}
}

@mixin modalColorTheme($color1, $color2) {
	@include colorTheme($color1, $color2);
 &:focus {
	background-color: inherit;
	color: inherit;
	border-color: inherit;
	box-shadow: none;
 }
 &::placeholder {
	 color:inherit;
 }
 &:focus::placeholder {
    color: inherit;
 }

}

