@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-width: 20%;
$sidebar-color: #adadad;
$highlight-color: #c4397e;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar {
  order:-1;
  list-style-type: none;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}